*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.carta{
    position: relative;
    width: 320px;
    height: 400px;
    /*background: #ff0;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carta .imgbox{
    position: relative;
    width: 100%;
    height: 240px;
    background: #f00;
    border-radius: 15px;
    background: url(casa.jpg);
    background-size: cover;
}

.carta .imgbox::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}

.carta .imgbox::after{
    content: '';
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}

.carta .contenido{
    position: relative;
    width: 100%;
    height: 150px;
    background: #232949;
    border-radius: 15px;
    border-top-left-radius: 0px;
    padding: 0 35px;
}

.carta .contenido ul{
    color: #fff;
    line-height: 1.5;
    padding: 10px;
}

.carta .contenido .precio{
    position: absolute;
    top: -80px;
    left: 0;
    width: 50%;
    height: 80px;
    background: #232949;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top-right-radius: 25px;
}

.carta .contenido .precio::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px -10px 0 #fff;
}

.carta .contenido .precio::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #232949;
}

.carta .contenido .precio a{
    position: relative;
    background: #fff;
    padding: 10px 20px;
    margin: 15px 15px;
    display: block;
    border-radius: 7px;
    color: #333;
    font-weight: 600;
    text-decoration: none;
}